@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <ul class="element-menu place-right">

            <li>
                <a href="/Account/Manage" title="管理账户" class="element place-right" style="height:65px">
                    <span class="icon-pictures"></span>
                    <span>@User.Identity.GetUserName()</span>
                </a>
            </li>
            <li><a class="element" style="height:65px" href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
        </ul>
    }
}
else
{
    <ul class="element-menu place-right">
        <li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "height:65px" })</li>
        <li>@*@Html.ActionLink("经纪人注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@</li>
        <li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "height:65px" })</li>
    </ul>
}