@{
    ViewBag.Title = "种 房 网 - 首页";

}

<div class="carousel" style="padding-top:65px;" data-period="4000" data-duration="500" id="carousel1">
    <div class="slide" style="left:0px; background: url(/images/size_2_shanghai.jpg) top left no-repeat; background-size: cover;">
        <div style="width:100%;height:100%; opacity:0.85">
            <div style="padding-top:10%"></div>
            <div class="text-center">
                <h1 class="fg-white"><b>种 房 壹 号</b></h1>
                <h1 class="fg-active-amber fg-white"><b>坐 享 数 十 倍 的 活 期 利 率</b></h1>
                <div class="row" style="padding-left:50%">
                    <button class="fg-white bg-focus-blue bg-active-darkBlue bg-blue"><h3>了解更多</h3></button>
                    <button class="fg-white bg-focus-blue bg-active-darkBlue bg-orange"><h3>立刻订购</h3></button>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" style="left:0px; background: url(/images/size_2_los.jpg) top left no-repeat; background-size: cover;">
        <div style="width:100%;height:100%; opacity:0.85">
            <div style="padding-top:10%"></div>
            <div class="text-center">
                <h1 class="fg-white"><b>1,000 元 起 投</b></h1>
                <h1 class="fg-active-amber fg-white"><b>人 人 可 以 投 资 的 商 业 地 产</b></h1>
                <div class="row" style="padding-left:50%">
                    <button class="fg-white bg-focus-blue bg-active-darkBlue bg-blue"><h3>我要试试</h3></button>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" style="left:0px; background: url(/images/size_2_tokyo.jpg) top left no-repeat; background-size: cover;">
        <div style="width:100%;height:100%; opacity:0.85">
            <div style="padding-top:10%"></div>
            <div class="text-center">
                <h1 class="fg-white"><b>锁 定 现 有 低 价</b></h1>
                <h1 class="fg-active-amber fg-white"><b>长 期 持 有，享 受 回 报</b></h1>
                <div class="row" style="padding-left:50%">
                    <button class="fg-white bg-focus-blue bg-active-darkBlue bg-blue"><h3> 下 订 </h3></button>
                </div>
            </div>
        </div>
    </div>
    <a class="controls left"><i class="icon-arrow-left-3"></i></a>
    <a class="controls right"><i class="icon-arrow-right-3"></i></a>
</div>
<script>
    $(function () {
        $("#carousel1").carousel({
            height: 580,
            effect: 'fade',
            markers: {
                show: true,
                type: 'cycle',
                position: 'bottom-center'
            }
        });
    })
</script>
<hr />
<div class="container">
    <div class="example">
        <div class="grid fluid">
            <div class="row">
                <h3 class="text-center"><a class="icon-rocket fg-magenta"></a> 1 2 3 三 步 开 始</h3>
            </div>
            <hr />
            <div class="row">
            </div>
        </div>
    </div>

    <div class="example">
        <div class="grid fluid">
            <div class="row">
                <h3 class="text-center"><a class="icon-fire fg-red"></a> 种 房 网 上 的 顶 尖 开 发 商</h3>
            </div>
            <hr />
            <div class="row">
                <div class="span4">
                    <div class="panel" style="height:300px">
                        <div class="panel-header bg-lightRed fg-white text-center">
                            <h3 class="fg-white">上 海 实 业</h3>
                        </div>
                        <div class="panel-content">
                          上海实业（集团）有限公司是上海市政府全资拥有的综合性企业集团。在境内外拥有多家上市公司和直属企业集团；在北美、日本、欧洲、独联体、大洋洲、南非、东南亚、南美、中东等地建有9个海外地区总部，已形成全球性跨国经营网络。
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="panel" style="height:300px">
                        <div class="panel-header bg-lightBlue fg-white text-center">
                            <h3 class="fg-white">嘉 凯 城</h3>
                        </div>
                        <div class="panel-content">
                            嘉凯城具备多年的房地产开发及商业资产管理经验，已经成功开发了60余个中、高端房地产项目，产品线丰富，“中凯城市之光”、“阳光城”等系列产品在业界极具影响力。同时，运营管理了多个大型商业项目，商业资源丰富，管理水平不断提升。
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="panel" style="height:300px">
                        <div class="panel-header bg-lightOlive fg-white text-center">
                            <h3 class="fg-white">昆 仑 置 业</h3>
                        </div>
                        <div class="panel-content">
                            浙江昆仑置业集团成立于一九九三年，拥有房地产开发一级资质，经过十数年潜心发展、开拓进取，已成为杭城十大城市运营商之一。公司发展至今，已成功开发了水印城、红苹果、橡树园、昆仑公馆、绿洲之馨、天津昆仑中心等项目，在众多项目的操作过程中，始终砥身砺行、精益求精，积累了丰富的开发经验。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="example">
        <div class="grid fluid">
            <div class="row">
                <h3 class="text-center"><a class="icon-mic fg-lightOlive"></a>媒 体 的 声 音</h3>
            </div>
            <hr />
        </div>
    </div>
</div>
