@{
    ViewBag.Title = "种 房 网 - 首页";

}
<section id="welcome">
    <div style="background: url(/images/size_2_tokyo.jpg) top left no-repeat; background-size: cover; height: 380px;">
        <div class="container" style="padding: 50px 20px">
            @*<h1 class="fg-white">种 房 网</h1>*@
            <h2 class="fg-white">
                众筹 + 地产 = 种 房 网 <br><br>小投入种下一份希望，大回报收获丰厚利益
            </h2>
            <h3 class="fg-white">昆仑商业地产并购基金二期 火热进行中</h3>
            <h4 class="fg-white">最高享受25%投资收益</h4>
            <a href="~/Account/Register" class="place-left button bg-darkRed bg-hover-red fg-white fg-hover-white bd-orange" style="margin-top: 10px">
                <h3 style="margin: 10px 40px">加入我们 <span class="icon-download-2 on-right"></span></h3>
            </a>
        </div>
    </div>
</section>

<section id="hightlightPartial">
    <div>
        @Html.Action("OnFireProjects")
    </div>
</section>
