
<div class="container">
    <div class="example">
        @*<div class="row" style="background:url('/images/seeding-1.png') no-repeat;height:84px">
            <button class="warning place-right large-size"><h3>立刻体验</h3></button>
        </div>*@
        <hr />

    </div>
</div>
